@font-face {
    font-family: "Montserrat";
    src:
        url('/Users/vitaliy/GitHub/zlatmax/src/assets/fonts/Montserrat-Bold.woff') format("woff"),
        url('/Users/vitaliy/GitHub/zlatmax/src/assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src:
        url('/Users/vitaliy/GitHub/zlatmax/src/assets/fonts/Montserrat-Medium.woff') format("woff"),
        url('/Users/vitaliy/GitHub/zlatmax/src/assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src:
        url('/Users/vitaliy/GitHub/zlatmax/src/assets/fonts/Montserrat-SemiBold.woff') format("woff"),
        url('/Users/vitaliy/GitHub/zlatmax/src/assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}