*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  display: inline-block;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
td, img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  background: none;
  font: inherit;
  caret-color: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  appearance: none;

  &::placeholder {
    color: inherit;
  }

  &:focus {
    border-color:inherit;
  }
}
textarea {
  display: block;
}