[data-fsc-accordion] {
    [data-fsc-accordion-summary] {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include rem(column-gap, 10px);
    }
    [data-fsc-accordion-body] {
        transform: scaleY(0);
        transform-origin: top;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        transition-property: max-height, transform, opacity, visibility;
    }

    &[data-fsc-accordion-active] {
        [data-fsc-accordion-body] {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            [data-fsc-accordion-body] {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
                max-height: 500px;
            }
        }
    }
}