
@if $BUILD_ENV == "development" {
    [data-fsc-dummyaside] {
        $bg_color: rgb(68, 109, 97);
        z-index: 9999999;
        position: fixed;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        background-color: rgba($bg_color, .2);
        color: wheat;
        width: 15px;
        height: 15px;
        overflow: hidden;
        transition: all .4s ease-in-out;
        display: flex;
        flex-flow: column wrap;
        gap: 15px;

        h3 {
            font-size: 16px;
        }
    
        ul {
            margin-top: 15px;
            display: flex;
            gap: 5px;
            flex-flow: column wrap;
        }
        
        li {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
            }
        }

        a {
            display: block;
            padding: 5px;
            font-size: 12px;
        }

        @media (any-hover: hover) {
            &:hover {
                width: max-content;
                height: max-content;
                padding: 30px;
                background-color: rgba($bg_color, 1);
            }
            a:hover {
                background-color: #fff;
                color: black;
            }
        }
    }
}

