<!DOCTYPE html>
<% if(typeof head_component.lang !== 'undefined' && head_component.lang) { %>
   <html lang="<%= head_component.lang %>">
<% } else { %>
   <html lang="en">
<% } %>
<head>
   <%- include('externe/components/Head/Head.ejs') %>
   <link rel="stylesheet" href="../externeComponents.scss">
</head>
<body>
    <%- include('externe/components/DummyAside/DummyAside.ejs') %>
    <div class="wrapper">
        <article class="components _accordion">
            <h1>Accordion</h1>
            <%- include('externe/components/Accordion/Accordion.ejs', {
                accordion_component: {
                    title: 'Accordion Summary',
                    body: 'Accordion Body'
                }
            })%>
        </article>
        <article class="components _burger">
            <h1>Burger</h1>
            <%- include('externe/components/Burger/Burger.ejs', {
                burger_component: {
                    title: 'Accordion Summary',
                    body: 'Accordion Body'
                }
            })%>
        </article>
        <article class="components _marquee">
            <h1>Marquee</h1>
             <%- include('externe/components/Marquee/Marquee.ejs', {
                marquee_component: {
                    data: [
                        'someText',
                        '-',
                        'anotherText',
                        '-'
                    ]
                }
            }) %>
            <%- include('externe/components/Marquee/Marquee.ejs', {
                marquee_component: {
                    this: {
                        dataAttribute: 'data-fsc-marquee-direction=right'
                    },
                    data: [
                        'someText',
                        '-',
                        'anotherText',
                        '-'
                    ]
                }
            }) %>
        </article>
        <article class="components _combobox">
            <h1>ComboBox</h1>
            <%- include('externe/components/ComboBox/ComboBox.ejs', {
                combobox_component: {
                    this: {
                        parent: 'arrow',
                        class: 'childClass',
                        type: 'article',
                        style: 'customStyle',
                        dataAttribute: 'customDataAttributes' 
                    },
                    prestyled: 'full',
                    label: 'Выберите город',
                    placeholder: 'Начните вводить',
                    icons: {
                        input_dispose: '../icons/sprite.svg#angle-down-solid-full',
                        input_close: '../icons/sprite.svg#xmark-solid-full',
                        p: '../icons/sprite.svg#plus-solid-full'
                    },
                    data: [
                        { flag: 'de', city: 'Deutschland' },
                        { flag: 'fr', city: 'France' },
                        { flag: 'es', city: 'España' }
                    ]
                }
            }) %>
            <%- include('externe/components/ComboBox/ComboBox.ejs', {
                combobox_component: {
                    this: {
                        parent: 'arrow',
                        class: 'childClass',
                        type: 'article',
                        style: 'margin-top: 20px',
                        dataAttribute: 'customDataAttributes' 
                    },
                    prestyled: 'part',
                    label: 'Выберите город',
                    placeholder: 'Начните вводить',
                    icons: {
                        input_dispose: '../icons/sprite.svg#angle-down-solid-full',
                        input_close: '../icons/sprite.svg#xmark-solid-full',
                        p: '../icons/sprite.svg#plus-solid-full'
                    },
                    data: [
                        { flag: 'de', city: 'Deutschland' },
                        { flag: 'fr', city: 'France' },
                        { flag: 'es', city: 'España' }
                    ]
                }
            }) %>
        </article>
        <article class="components _image">
            <h1>Image</h1>
            <%- include('externe/components/Image/Image.ejs', {
                image_component: {
                    this: {
                        style: 'display: flex; justify-content: space-around;'
                    },
                    img: {
                        src: 'https://shorthand.com/the-craft/raster-images/assets/5kVrMqC0wp/sh-unsplash_5qt09yibrok-4096x2731.jpeg',
                        alt: 'image here',
                        width: '230px',
                        height: '230px'
                    }
                }
            }) %>
        </article>
        <article class="components _counter">
            <h1>Counter</h1>
            <%- include('externe/components/Counter/Counter.ejs', { 
                counter_component: {
                    this: {
                        dataAttribute: [
                            'data-fsc-counter-mode=decrement'
                        ]
                    },
                    value: {
                        start: '999.999',
                        end: '-5.555'
                    }
                }
            }) %>
            <%- include('externe/components/Counter/Counter.ejs', { 
                counter_component: {
                    value: {
                        start: '0',
                        end: '999.999'
                    }
                }
            }) %>
        </article>
        <article data-fsc-dynamic data-fsc-dynamic-target="article._image" data-fsc-dynamic-media-query="max-width: 769px" class="script _dynamic">
            <h1>Dynamic max-width: 769px</h1>
            <%- include('externe/components/Image/Image.ejs', {
                image_component: {
                    this: {
                        style: 'display: flex; justify-content: space-around;',
                    },
                    img: {
                        src: 'https://shorthand.com/the-craft/raster-images/assets/5kVrMqC0wp/sh-unsplash_5qt09yibrok-4096x2731.jpeg',
                        alt: 'image here',
                        width: '30px',
                        height: '30px'
                    }
                }
            }) %>
        </article>
    </div>
    <script type="module" src="/src/ts/main.ts"></script>
</body>
</html>