@use 'sass:map';
@use 'sass:color';


@mixin menuLink {
    position: relative;
    color: map.get($BASE, main_color);
    transition: color .5s ease-in-out;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0.5px;
        transition: .5s ease-in-out;
        transition-property: width, left, background-color;           
        background-color: map.get($BASE, main_color);
    }

    &--active {
        &::after {
            left: 0;
            width: 100%;
            color: color.scale(map.get($BASE, main_color), $lightness: 100%);
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: color.scale(map.get($BASE, main_color), $lightness: 100%);
            &::after {
                left: 0;
                width: 100%;
                color: color.scale(map.get($BASE, main_color), $lightness: 100%);
            }
        }
    }
}

.menu {
    --animation-speed: 0s;
    flex: 1;

    &__list {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
    }
    &__link {
        @include menuLink;
    }

    @include media(tablet, max) {
        &__body {
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1;
            transform: translate3d(100dvw,0,0);
            transition: transform var(--animation-speed) ease-in-out;
            will-change: transform;
        }

        &.active {
            &::before {
                content: "";
                background: rgba(0,0,0, .85);
                width: 100dvw;
                height: 100dvh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            .menu__body {
                transform: translate3d(0,0,0);
            }
        }

        &.is-animating {
            --animation-speed: .6s;
        }
    }

    @include media(tablet) {
        &__list {
            flex-direction: row;
            align-items: unset;
        }
    }
} 

.menu .submenu-menu {
    $speed: .4s;

    &__list {
        overflow: hidden;
        height: 0px;
        transform: translateY(-20px);
        transition: $speed ease-in-out;
        transition-property: transform;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        &.active {
            overflow: unset;
            height: max-content;
            transform: translateY(10px);
        }
    }
    &__item {
        @include fluid(padding-top, 16px 8px);
        @include fluid(padding-bottom, 16px 8px);
    
        @include rem(padding-right, 10px);
        & li {
            &:last-child {
                padding-bottom: unset;
            }
        }
    }
    &__link {
        @include menuLink;
    }
    &__trigger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include rem(gap, 6px);

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &__icon {
        transition: $speed ease-in-out;
        transition-property: transform;

        @include rem((
            width: 8px,
            height: 6px
        ));
    }

    @media(hover: hover) and (pointer: fine) {
        &:hover {
            > .submenu-menu {
                &__list {
                    overflow: unset;
                    height: max-content;
                    transform: translateY(-10px);
                }
            }
            
        }
    }
}