<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('externe/components/HeaderMenu/HeaderMenu.ejs', {
//     header_menu_component: {
//         activePage: 'activePage',
//         list: [
//             {'href': './index.html', 'anchor': 'HomePage'},
//             {'anchor': 'Pages', 'submenus': [
//                 {'href': '#', 'anchor': 'Page1'},
//                 {'href': '#', 'anchor': 'Page2', 'submenus': [
//                     {'href': '#', 'anchor': 'Page2_1', 'submenus': [
//                         {'href': '#', 'anchor': 'Page3_1'},
//                         {'href': '#', 'anchor': 'Page3_2'},
//                     ]},
//                     {'href': '#', 'anchor': 'Page2_2'}
//                 ]},
//                 {'href': '#', 'anchor': 'Page3'}
//             ]},
//         ]
//     }
// }) %>
%>
<%
    if(typeof header_menu_component === 'undefined' || !header_menu_component) {
        return
    }

    function generateMenu({
        menu,
        blockClass='menu',
        parentClass='menu',
        depth=0
    }) {
        if(!menu || menu.length == 0) return

        let str = `\<ul class="${blockClass}__list">`
        for(const item of menu) {
            let activeLinkPageClass = ''

            if (
                (typeof header_menu_component.activePage !== 'undefined' && header_menu_component.activePage) &&
                (header_menu_component.activePage.toLowerCase() === item.anchor.toLowerCase())
            ) {
                activeLinkPageClass = `${blockClass}__link--active`
            }

            const 
                hasSubmenu = item.submenus && item.submenus.length > 0,
                submenuClass = hasSubmenu ? `submenu-${parentClass}` : '',
                liClass = hasSubmenu ? `${blockClass}__item ${blockClass}__item--submenu ${submenuClass}` : `${blockClass}__item`,
                linkClass = hasSubmenu ? `${blockClass}__link ${blockClass}__link--submenu ${activeLinkPageClass}` : `${blockClass}__link ${activeLinkPageClass}`,
                spanClass = depth === 0 ? `${submenuClass}__trigger ${submenuClass}__trigger--first` : `${submenuClass}__trigger`,
                iconClass = hasSubmenu ? submenuClass : blockClass
          
            str += `\<li class="${liClass}">`
            
            if(hasSubmenu) {
                str += `\<span class='${spanClass}'>`
            }
            
            str += item.href ? 
                `\<a href="${item.href}" class="${linkClass}">${item.anchor}\</a>` :
                item.anchor
            
            if(hasSubmenu) {
                // str += include('externe/components/Icon/Icon.ejs', {
                //     icon_component: {
                //         this: {
                //             parent: iconClass
                //         },
                //         name: 'ph_arrow-drop-down-line'
                //     }
                // })
                str += '\</span>'
                str += generateMenu({
                    menu: item.submenus,
                    blockClass: 'submenu-menu', 
                    depth: depth + 1
                })
            }
            str += '\</li>'
        }
        str += '\</ul>'

        return str
    }
%>

<div class="header__menu menu">
    <nav class="menu__body">
        <% if(typeof header_menu_component.list !== 'undefined' && header_menu_component.list) { %>
            <%- generateMenu({menu: header_menu_component.list}) %>
        <% } %>
    </nav>
</div>