.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    text-align: center;

    @media (hover: hover) and (pointer: fine) {
        &:hover {

        }
    }

    &--fw {
        width: 100%;
    }
}