$DEFAULT_CONTAINER: (
    mobile: (
        media: 575.98px,
        max-width: 540px,
        padding-x: (15px * 2)
    ),
    tablet: (
        media: 767.98px,
        max-width: 720px,
        padding-x: (15px * 2)
    ),
    desktop: (
        media: 991.98px,
        max-width: 960px,
        padding-x: (15px * 2)
    ),
    wide: (
        media: 1199.98px,
        max-width: 1140px,
        padding-x: (15px * 2)
    ),
    normal: (
        media: 1399.98px,
        max-width: 1320px,
        padding-x: (15px * 2)
    ),
    ultra: (
        media: 1599.98px,
        max-width: 1500px,
        padding-x: (15px * 2)
    )
);

$DEFAULT_HEADERS_CLAMP_WIDTH: 1280px;

$DEFAULT_HEADERS: (
    h1: (
        font_size_original: 48px,
        font_size_adaptive: 32px,
        line_height: 56px,
        font_weight: 700
    ),
    h2: (
        font_size_original: 40px,
        font_size_adaptive: 28px,
        line_height: 48px,
        font_weight: 700
    ),
    h3: (
        font_size_original: 32px,
        font_size_adaptive: 24px,
        line_height: 40px,
        font_weight: 600
   ),
   h4: (
        font_size_original: 24px,
        font_size_adaptive: 18px,
        line_height: 32px,
        font_weight: 600
   ),
   h5: (
        font_size_original: 20px,
        font_size_adaptive: 18px,
        line_height: 28px,
        font_weight: 500
   ),
   h6: (
        font_size_original: 16px,
        font_size_adaptive: 14px,
        line_height: 24px,
        font_weight: 500
   ),
);
$DEFAULT_P: (
    font_size_original: 16px,
    font_size_adaptive: 14px,   
    line_height: 1.8
);