%addCounter {
    counter-increment: item;
    &::before {
        content: counter(item, decimal-leading-zero);
    }
}

// watcher animate
%watcherAlternative {
    &[data-fsc-watcher] {
        transition: 
            transform 1s cubic-bezier(.16,1,.3,1);
        transform: scale(.6);
        opacity: 0;

        &.intersected {
            transform: scale(1);
            opacity: 1;
        }
    }
}
%watcherDefault {
    &[data-fsc-watcher] {
        transition: 
            opacity .6s ease-in-out,
            transform 1s cubic-bezier(.16,1,.3,1);
        transform: translateY(-40px);
        opacity: 0;

        &.intersected {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
%watcherDefaultReverse {
    &[data-fsc-watcher] {
        transition: 
            opacity .6s ease-in-out,
            transform 1s cubic-bezier(.16,1,.3,1);
        transform: translateY(40px);
        opacity: 0;

        &.intersected {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

// text
%textMetaLarge {
    font-weight: 600;
    @extend %textMetaDefault;
}
%textMeta {
    @include fluid(font-size, 16px 14px);
    @include line-height(20px, 16px);
}
%textMetaDefault {
    @include fluid(font-size, 18px 16px);
    @include line-height(22px, 18px);
}
%textMetaSmall {
    @include fluid(font-size, 14px 12px);
}