@use "sass:map";
@use "sass:color";

$SETTINGS: (    
    // Mobile first
    mobile_first: false,
    // pixels perfect
    pixels_only: true,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1
);

$CONTAINER: $DEFAULT_CONTAINER;
$HEADERS_CLAMP_WIDTH: $DEFAULT_HEADERS_CLAMP_WIDTH;

$P: $DEFAULT_P;
$HEADERS: $DEFAULT_HEADERS;

$BASE: (
    font_size: 16px,
    font_weight: 400,
    line_height: 1,
    // font_family: ('Chillax', sans-serif),
    main_color: rgb(0, 0, 0),
    // background_color: #ffffff,
    container_padding_x: (15px * 2),
    min_width: 320px,
    max_width: 1920px
);

$BURGER: (
    color_primary: map.get($BASE, main_color),
    color_active: color.scale(map.get($BASE, main_color), $lightness: 80%),
    origin_top: 6px,
    origin_bottom: 6px,
    width: 32px,
    height: 32px,
    line_height: 2px,
    animation_speed: .2s
);

$COLORS: (
    base: map.get($BASE, main_color)
);

$ANIMATIONSPEEDS: (
    base: .5s,
);

$ZINDEXES: (
    immortal: 5
);
// Custom
$FONTS: ();