@use "sass:map";
@use "sass:color";

$SETTINGS: (    
    // Mobile first
    mobile_first: false,
    // pixels perfect
    pixels_only: true,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1
);

$CONTAINER: $DEFAULT_CONTAINER;
$HEADERS_CLAMP_WIDTH: $DEFAULT_HEADERS_CLAMP_WIDTH;

$P: (
    font_size_original: 18px,
    font_size_adaptive: 16px,   
    line_height: 1.8  
);

$HEADERS: $DEFAULT_HEADERS;

$BASE: (
    font_size: 18px,
    font_weight: 500,
    line_height: 1,
    font_family: ('Montserrat', sans-serif),
    main_color: rgb(0, 0, 0),
    // background_color: #ffffff,
    container_padding_x: (15px * 2),
    min_width: 320px,
    max_width: 1920px
);

$COLORS: (
    base: map.get($BASE, main_color),
    white: #fff,
    black: #1F1C21,
    gray: rgba(0, 0, 0, 0.5),
    orange: #E8AA31,
    background_default: #141414,
    background_white: #ecf1f2,
    background_gray: rgba(7, 7, 7, 0.03),
    border_default: rgba(4, 4, 4, 0.5),
    box_shadow_default: rgba(169, 169, 169, 0.18)
);

$BURGER: (
    color_primary: map.get($COLORS, white),
    color_active: color.scale(map.get($BASE, main_color), $lightness: 80%),
    origin_top: 0px,
    origin_bottom: 0px,
    width: 28px,
    height: 17px,
    line_height: 3px,
    border_radius: 10px,
    animation_speed: .2s
);

$ANIMATIONSPEEDS: (
    long: .5s,
    base: .4s,
    short: .3s
);

$ZINDEXES: (
    immortal: 5
);
// Custom
$FONTS: (
    montserrat: map.get($BASE, font_family)
);